/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require font-awesome.min
 *= require_self
 */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
ul li{
    list-style:none;
}
.container{
    width:100%;
    padding:0;
    text-align: center;
}
.nav-top{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    opacity:0.75;
    z-index: 99;
    left: 0;
}
.inner-top{
    overflow: hidden;
    padding: 0 35px;
    height: 80px;
    position: relative;
    z-index: 10;
}
.logo{
    float:left;
}
.nav-name{
    padding:0 1rem;
}
.nav-name a{
    height: 50%;
    color:#FFF;
    font-weight: 500;
}
.nav-name a.active, .nav-name a:hover, .nav-name a:focus{
    border-top: .25rem solid #0086FF;
    border-bottom: .25rem solid #0086FF;
    background:transparent !important;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
}
.footer{
    background-color: #474747;
    text-align: center;
    padding: 50px 0px 0px 0;
    position: relative;
}
.footer-box{
    width: 60%;
    margin: 0 auto;
    height: 30px;
    position: relative;

}
.footer .ft_item_tit {
    color: #FFF;
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.footer .ft_contact_tel{
    color: #FFF;
    font-size:2.5rem;
}
.footer .contact{
    font-size:1rem;
    color:#FFF;
    text-align: center;
}
.footer .contact a, .contact a:hover{
    color:#FFF;
}
.footer .wx_tips {
    cursor: pointer;
    position: relative;
    margin: 4rem auto;
}
.footer .ico_sns {
    background: rgba(0, 0, 0, 0) url("../images/ft_sns.png") no-repeat scroll 0 0;
    display: block;
    height: 3.9rem;
    margin: 0 auto;
    width: 3.9rem;
}
.footer .wx_tips:hover .ico_weixin {
    background-position: 0 -3.95rem;
}
.footer .wx_tips .tips_bd {
    display: none;
    background-color: #fff;
    left: 11.2rem;
    padding: 1rem 1rem 0;
    position: absolute;
    top: -14.4rem;
    width: 14.3rem;
}
.footer .wx_tips .tips_bd .arrow {
    border-color: #fff transparent transparent transparent;
    border-style: solid dashed none dashed;
    border-width: 1rem;
    height: 0;
    left: 5.5rem;
    overflow: hidden;
    position: absolute;
    top: 13rem;
}
.footer .wx_tips .tips_bd img {
    height: 12.5rem;
    width: 12.5rem;
}
.footer .wx_tips:hover .ico_weixin {
    background-position: 0 -.25rem;
}
.footer .wx_tips:hover .tips_bd {
    display: block;
}
.beian,.beian:hover,.beian:focus{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size:12px;
}

/*首页*/
.container_2 {
    max-height:80rem;
    padding: 2rem 0 7rem 0;
}
.first{
    height: 600px;
}
.first_photo{
    text-align: center;
    margin-top:10rem;
    margin-bottom: 5rem;
    width: 32%;
}
.center-btn{
    display: block;
    position: relative;
    top: -15%;
    height: 22%;
}
.second{
    background-color: #F2F2F2;
}
.photo{
    max-width:95%;
    display:block;
    margin:0 auto;
}
.banner{
    width: 100%;
}
.banner-box{
    height: 100%;
}
.banner-img{
    height: 100%;
}
.banner-img .item{
    height: 100%;
}
.banner-img1,.banner-img2{
    height: 600px;
    position: relative;

}
.banner-img1{
    background: url('../images/banner1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner-img2{
    background: url('../images/banner2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner-text{
    position: absolute;
    left: 50%;
    top: 50%;
}

.forth{
    padding-top:2rem;
    background:url(../images/auto_teach_bj.png) center bottom no-repeat;
    background-size: 100% 100%;
}
.forth_photo{
    padding-bottom:18%;
}
.fifth{
    padding: 2rem 0 18% 0;
    background:url(../images/private-bj.png);
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

.fifth .title{
    padding-top: 5rem;
}

.fifth .form-group{
    margin:2rem auto;
    width: 210px;
}
.fifth .form-label{
    margin:1rem auto;
    color: #FFF;
    font-size:2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-285%);
}
.fifth .form-group input{
    width: 214px;
    height: 5.5rem;
    background:transparent;
    border:.2rem solid #FFF;
    color: #000;
}
.fifth .join_btn{
    height: 5rem;
    margin: 0 auto;
    position: relative;
    width: 160px;
    display: block;
}

.navbar-header{
    float: left;
    margin-top: 16px;
    position: relative;
    z-index: 10;
}

.app-nav{
    float: right;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 0;
}

.app-nav li{
    float: left;
    margin-right: 20px;
    position: relative;
}
.app-nav li a{
    position: relative;
    display: block;
    color: #fff;
    height: 80px;
    line-height: 80px;
    z-index: 10;
    font-size: 15px;
}
.app-nav li div{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index: 9;
}
.app-nav li:hover div{
    border-top: 4px solid #0086FF;
    border-bottom: 4px solid #0086FF;
}

.app-nav li a:hover{
    text-decoration: none;
}

.nav-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .4;
    left: 0;
    top:0;
    filter:alpha(opacity=40);
}


.clear{
    clear:both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.wx_box{
    position: absolute;
    width: 100px;
    height: 62px;
    right: -120px;
}

@media (min-width: 992px){
    .foot_text{
        text-align: left;
    }
}

#footer_outer {
    height: 12px;
    width: 281px;
    overflow: hidden;
    margin: 0 auto;
}

#footer {
    background: url('../images/sprite.png') -150px -62px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 149px;
    _margin-left: -149px;
    _padding-top: 62px;
    _margin-top: -62px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}

#footer_wx_outer_active {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: absolute;
    transition: all .5s ease;
    left: 30px;
    top: -13px;
    opacity: .5;
}

#footer_wx_active {
    background: url('../images/sprite.png') -409px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 409px;
    _margin-left: -409px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}

#footer_wx_outer {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 30px;
    top: -13px;
}
#footer_wx {
    background: url('../images/sprite.png') -369px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 369px;
    _margin-left: -369px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}

#erweima_outer {
    height: 156px;
    width: 149px;
    overflow: hidden;
    position: absolute;
    top: -177px;
    left: -25px;
    opacity: 0;
    transition: opacity .5s ease;
    filter:alpha(opacity=0);
}

#erweima {
    background: url('../images/sprite.png') -0px -0px no-repeat;
    width: 100%;
    height: 100%;
    _background: none;
    _padding-left: 0px;
    _margin-left: -0px;
    _padding-top: 0px;
    _margin-top: -0px;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src="");
}

#footer_wx_outer_active:hover+#erweima_outer{
    opacity: 1;
}

#footer_wx_outer_active:hover{
    opacity: 1;
    filter:alpha(opacity=100);
}

/*download*/
.dl-box{
    list-style: none;
    margin: 50px auto 0 ;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.dl-box li:hover>div:nth-child(1){
    display: none
}

.dl-box li:hover>div:nth-child(2){
    opacity: 1;
}

.dl-box li:hover>div:nth-child(3){
    opacity: 1;
    transform: scale(.8);
}

.icon-channel_outer{
    height: 240px;
    width: 160px;
    overflow: hidden;
    opacity: 1;
    transition: opacity .5s ease;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

.icon-student {
    background: url('../images/sprite_dl1.png') -160px -0px no-repeat;
    width: 100%;
    height: 100%;
}
.icon-teacher {
    background: url('../images/sprite_dl1.png') -0px -240px no-repeat;
    width: 100%;
    height: 100%;
}
.icon-shop {
    background: url('../images/sprite_dl1.png') -0px -480px no-repeat;
    width: 100%;
    height: 100%;
}
.icon-channel {
    background: url('../images/sprite_dl1.png') -160px -720px no-repeat;
    width: 100%;
    height: 100%;
}
.icon-drivingSchool {
    background: url('../images/sprite_dl1.png') -0px -960px no-repeat;
    width: 100%;
    height: 100%;
}

/*二维码*/
.QRcode-student_outer {
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -75px;
    transition: all .3s ease;
    opacity: 0;
    filter:alpha(opacity=0);
}
.QRcode-student {
    background: url('../images/sprite_dl1.png') -0px -1200px no-repeat;
    width: 100%;
    height: 100%;
}
.QRcode-teacher {
    background: url('../images/sprite_dl1.png') -150px -1200px no-repeat;
    width: 100%;
    height: 100%;
}
.QRcode-shop {
    background: url('../images/sprite_dl1.png') -0px -1350px no-repeat;
    width: 100%;
    height: 100%;
}
.QRcode-school {
    background: url('../images/sprite_dl1.png') -150px -1350px no-repeat;
    width: 100%;
    height: 100%;
}
/*背景*/
.bg-student,.bg-techer,.bg-shop,.bg-channel,.bg-drivingSchool {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity .3s ease;
    top: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.bg-student{
    background: url('../images/sprite_dl1.png') -160px -480px no-repeat;
}
.bg-techer {
    background: url('../images/sprite_dl1.png') -160px -240px no-repeat;
}
.bg-shop {
    background: url('../images/sprite_dl1.png') -0px -720px no-repeat;
    width: 100%;
    height: 100%;
}

.bg-channel {
    background: url('../images/sprite_dl1.png') -0px -0px no-repeat;
    width: 100%;
    height: 100%;
}
.bg-drivingSchool {
    background: url('../images/sprite_dl1.png') -160px -960px no-repeat;
    width: 100%;
    height: 100%;
}

.download-btn{
    font-size: 18px;
    color: #fff;
    width: 286px;
    height: 50px;
    line-height: 50px;
    margin: 43px auto 0;
    border-radius: 4px;
    border: none;
    z-index: 2;
    background: #37adff;
    cursor: pointer;
    display: none;
}
.download-btn:hover{
    text-decoration: none;

}

@media screen and (max-device-width: 414px) {
    .inner-top {
        overflow: hidden;
        padding: 0 5px;
    }

    .app-nav li a {
        font-size: 12px;
    }

    .navbar-header {
        width: 85px;
    }

    .job-btn {
        width: 56px;
    }
    .app-nav li {
        margin-right: 5px;
    }
}
