*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;
    color: #666;
    background-color: #eee;
    font-size: 14px;
}

header{
    background: #474747;
    height: 120px;
}

.navbar-header{
    float: left;
}

.app-nav{
    float: right;
    padding: 1.1rem 0;
    display: flex;
    justify-content: space-between;
}

.app-nav li{
    float: left;
    margin-right: 10px;
}
.app-nav li a{
    position: relative;
    display: block;
    padding: 10px 0;
    color: #fff;
}

.app-nav li a:hover{
    text-decoration: none;
}

/*icon*/
@font-face {
    font-family: 'iconfont';
    src:url('../fonts/icomoon.woff') format('woff');
    src:url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wif , .fa-spin{
    display: inline-block;
    font: normal normal normal 14px/1 iconfont;
    font-size: larger;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
    content: "\e900";
}

@media screen and (max-device-width: 414px){
    .app-nav{
    }
    .nav-top {
        padding: 20px 0;
        opacity: 0.75;
    }
    .im-container{
        width: 88%;
    }
}




