<style type="text/css">
    .brand{
        margin-top:20px;
        margin-bottom:6px;
        cursor: pointer;
    }
    .modal-inner{
        background-color: #f2f2f2!important;
    }
    .company_name_tag{
        color:#666666;
    }
    .company_cell{
        padding:0px;
    }
    .brand{
        padding:15px;
    }
    ul{
        list-style-type: decimal;
        padding:20px;
    }
    ul li{
        text-align: justify;
    }
</style>
<section class="modal--fade" id="introduction" data-stackable="false"
    tabindex="-1" role="dialog" aria-labelledby="label-fade" aria-hidden="true">

  <div class="modal-inner">
    <div class="rows">
        <div class="col-xs-12">
        <ul>
            <li>包过班费用包含学员的学车费用，考长途费用（包餐补和住宿）,车管所的考试费用（480元）。</li>
            <li>不包含照相费用（20元）、体检费用（25元），补考费。</li>
            <li>如果提前考完驾照，比如只学了20小时就考完驾照，萌萌学车会按4800元 - 2380元(119元x20) - 850元(考长途)= 1570元，退回剩余费用。</li>
            <li>学员可以随时退款，只扣除已学车费用（小时数x119元)，不收期任何手续费。</li>
            <li>包过班学员将有专门的班主任一对一服务，除帮忙制定学车计划外，还会帮忙处理学车过程中的所有问题。</li>
            <li>不能转让，也不能带其他学员上课，不能让其他学员代上课。 </li>
            <li>发票可在拿到驾照后向萌萌学车客服申请。</li>
        </ul>
        </div>
    </div>
  </div>

  <a href="#!" class="modal-close" title="关闭"
      data-dismiss="modal" data-close="X">&times;</a>
</section>

