<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="author" content="萌萌学车">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="icon" href="/images/icon.png">

    <title>萌萌学车</title>
    <%=javascript_include_tag 'jquery-1.11.0.min' %>

    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag 'bootstrap.min', 'font-awesome.min'%>

    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>

	<style type="text/css">
		html, body, .box{
			height: 100%;
			background-color: #93D058;

		}
		
		.word{
			color:#ffffff;
			padding:10px;
			font-size: 15px;
			text-align: center;
			position: fixed;
			bottom: 5%;
			max-width: 900px;
		}
		
		.box{
			margin:0 auto;
			width: 100%;
			max-width: 800px;
			height: 100%;
			background-image: url('/m/images/vol4/sign_up_success_bg.png');
			background-size:100%;
			background-repeat: no-repeat;
			background-color: #93D058;
			margin-bottom: 50px;
		}
		.box img{
			width:46%;
			margin-top: 20px;
			margin-left:26%;
		}
		.main{
			padding:0;
		}
		.desc{
			font-size: 1.3em;
			color: #ffffff;
			text-align: center;

		}
		.first{
			padding-top: 20px;
			
		}
	</style>

	<div class="rows box">
		<img src="/m/images/vol4/word_sign_up_sucess.png">
		<img src="/m/images/faq_wechat.png" style='margin-top:40px;'> 
		<p class='desc first'>长按上方二维码</p>
		<p class='desc'>立即加入包过班微信咨询群</p>
		<p class='desc'>了解下一步的学车流程</p>
		<br>
		<br>
		<br>
		
	</div>

	</body>

</html>
