<!DOCTYPE html>
<html lang="en">
<body>
<%=javascript_include_tag 'pingpp_pay' %>
<script>
    function wap_pay() {
        
        var params = "channel=wx_pub&order_no=<%=@order_no%>&is_live=1&open_id=<%=@open_id%>&user_id=<%=@user_id%>"
        var xhr = new XMLHttpRequest();
        // xhr.open("POST", "/api/v2/orders/mid_pay_web", true);
        xhr.open("POST", "/api/v2/orders/pay_web", true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("Content-length", params.length);
        xhr.send(params);

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                pingpp.createPayment(xhr.responseText, function(result, err) {
                      
                     if (result == "success") {
                            window.location.href = '/m/weixin_public/mid_success'
                        } else if (result == "fail") {
                           alert('订单支付失败,请稍候重试');
                           
                            window.location.href = '/m/weixin_public/midautumn_pay'
                           

                        } else if (result == "cancel") {
                           // alert('订单支付取消');
                            window.location.href = '/m/weixin_public/midautumn_pay'
                            
                        }

                });
            }
        }
    }
    wap_pay();
</script>
</body>
</html>