
<div class="hpanel">
    <div class="panel-body">
        <a class="small-header-action" href="">
            <div class="clip-header">
                <i class="fa fa-arrow-up"></i>
            </div>
        </a>

        <div id="hbreadcrumb" class="pull-right m-t-lg">
            <ol class="hbreadcrumb breadcrumb">
                <li><%= link_to '主页', url(:base, :index)%></li>
                <li><%= link_to '问题列表', url(:questions, :index)%></li>
                <li class="active">
                    <span>编辑</span>
                </li>
            </ol>
        </div>
        <h2 class="font-light m-b-xs">
            问题
        </h2>
        <small>问题编辑</small>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <% form_for :question, url(:questions, :update, :id => @question.id), :method => :put, :class => 'form-horizontal', :style => 'margin:auto; width: 50%' do |f| %>
                    <%= partial 'questions/form', :locals => { :f => f } %>
                <% end %>
            </div>
        </div>
    </div>
</div>
