<%=stylesheet_link_tag 'common', 'aboutUs' %>
<div class="ab-container" style="padding: 50px 0 298px">
    <ul class="ab-nav">
        <li class="active">关于我们</li>
        <li>加入我们</li>
    </ul>
    <!--关于我们-->
    <div class="ab-text">
        <h1 class="ab-title">关于我们</h1>
        <section class="ab-content">
            <p>我们是一个年轻、有爱的创业团队，爱自由、爱自黑、爱打鸡血，爱搞怪，爱分享、爱创造。</p>
            <p>我们推崇快乐工作、快乐生活、快乐创业。我们的设计师和工程师全员配Mac装备，32寸超大屏显示器，设计编码爽到爆。</p>
        </section>
    </div>
    <!--加入我们-->
    <div class="job-box">
        <div class="job-title">
            <h2>加入我们</h2>
        </div>
        <div class="job-list">
            <ul class="job-list-head">
                <li class="job-list-name">职位</li>
                <li class="job-list-category">工作职能</li>
                <li class="job-list-address">工作地点</li>
                <li class="job-list-operation">操作</li>
            </ul>
            <ul class="job-list-content">
                <li>
                    <div class="job-item">
                        <div class="job-list-name">IOS工程师<i class="wif icon-down ab-down"></i></div>
                        <div class="job-list-category">软件研发</div>
                        <div class="job-list-address">深圳南山</div>
                        <div class="job-list-operation">
                            <a class="job-btn" href="mailto:hr@mmxueche.com">现在申请</a>
                        </div>
                    </div>
                    <div class="job-detail">
                        <h4>岗位要求:</h4>
                        <ul>
                            <li>2016年应届毕业生</li>
                            <li>熟悉Objective-C语言和iOS SDK</li>
                            <li>熟悉iOS开发技术和各iOS版本特点，能熟练使用iOS开发及测试工具</li>
                            <li>能熟练阅读中文、英文技术文档，能独立开发</li>
                            <li>熟悉GIT等版本管理工具</li>
                            <li>熟练使用Autolayout布局</li>
                            <li>熟练使用 SQLite/Realm/Fmdb/CoreData 中至少一种数据库</li>
                            <li>善于沟通，做事认真，自学能力强</li>
                        </ul>
                        <h4>加分项:</h4>
                        <ul>
                            <li>有自己的github，以及个人技术blog</li>
                            <li>有项目经验或有在Apple Store 发布作品</li>
                            <li>熟悉Swift</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="job-item">
                        <div class="job-list-name">Android工程师<i class="wif icon-down ab-down"></i></div>
                        <div class="job-list-category">软件研发</div>
                        <div class="job-list-address">深圳南山</div>
                        <div class="job-list-operation">
                            <a class="job-btn" href="mailto:hr@mmxueche.com">现在申请</a>
                        </div>
                    </div>
                    <div class="job-detail">
                        <h4>岗位职责:</h4>
                        <ul>
                            <li>主要负责公司项目Android平台上的开发与维护</li>
                            <li>能独立承担相关App的开发</li>
                            <li>保持项目良好的兼容性，优化前端的体验</li>
                            <li>根据开发进度和任务分配，完成相应的开发、编程任务。</li>
                        </ul>
                        <h4>岗位要求:</h4>
                        <ul>
                            <li>计算机或相关专业优先</li>
                            <li>有Java语言编程经验，具有良好的编码风格与编码技巧</li>
                            <li>精通Android各类UI组件/图形图像/网络/等模块的使用</li>
                            <li>熟练使用Git的版本控制工具，有使用github上的开源框架的优先</li>
                            <li>熟练使用AS平台和Gradle构建工具进行开发</li>
                            <li>熟悉Android开发平台及框架原理，有发布过应用者优先</li>
                            <li>有强烈的责任心和团队精神，善于沟通和合作；学习能力强，能独立完成设计和编码</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="job-item">
                        <div class="job-list-name">UI设计师<i class="wif icon-down ab-down"></i></div>
                        <div class="job-list-category">设计</div>
                        <div class="job-list-address">深圳南山</div>
                        <div class="job-list-operation">
                            <a class="job-btn" href="mailto:hr@mmxueche.com">现在申请</a>
                        </div>
                    </div>
                    <div class="job-detail">
                        <h4>岗位要求:</h4>
                        <ul>
                            <li>1年以上设计工作经验，能独立执行设计工作</li>
                            <li>设计风格要求非常萌，抓得住二次元和年轻人的心</li>
                            <li>有一定的美术功底，熟练掌握CDR、PS、AI、PPT等软件</li>
                            <li>思维活跃，对专业热爱，对输出、工艺及印刷有一定了解</li>
                            <li>善于沟通，有较强的学习能力，对人对事都认真负责</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="job-item">
                        <div class="job-list-name">品牌公关<i class="wif icon-down ab-down"></i></div>
                        <div class="job-list-category">运营</div>
                        <div class="job-list-address">深圳南山</div>
                        <div class="job-list-operation">
                            <a class="job-btn" href="mailto:hr@mmxueche.com">现在申请</a>
                        </div>
                    </div>
                    <div class="job-detail">
                        <h4>岗位职责:</h4>
                        <ul>
                            <li>负责公司和创始人品牌对外PR的工作，拓展和维护公司媒体资源关系网络，与各界媒体保持良好关系</li>
                            <li>深入挖掘和拓展自有产品特性，围绕RoadMap、品牌推广等进行媒体宣传规划</li>
                            <li>监控、评估发布媒体的宣传效果</li>
                            <li>策划、协调并公关活动、市场活动，提升行业影响力</li>
                            <li>维系媒体、政府关系</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="job-item">
                        <div class="job-list-name">客服、客服主管<i class="wif icon-down ab-down"></i></div>
                        <div class="job-list-category">客服</div>
                        <div class="job-list-address">深圳南山</div>
                        <div class="job-list-operation">
                            <a class="job-btn" href="mailto:hr@mmxueche.com">现在申请</a>
                        </div>
                    </div>
                    <div class="job-detail">
                        <h4>岗位职责:</h4>
                        <ul>
                            <li>负责使用在线沟通工具（400电话、QQ、微信、七鱼等）处理客户咨询，了解客户需求，促成订单成交</li>
                            <li>与客户沟通，对客户群进行维护与管理</li>
                            <li>负责跟进未付费学员，引导转化为付费学员</li>
                            <li>完成上级交给的其它事务性工作，及售前相关的事务</li>
                        </ul>
                        <h4>岗位资格:</h4>
                        <ul>
                            <li>一年以上客服工作经验，对工作有责任心，有耐心，做事细心，吃苦耐劳</li>
                            <li>适能力强， 服从工作调度安排</li>
                            <li>熟练操作计算机、各类聊天工具、office办公软件等</li>
                            <li>能接受一定的工作时间调整（大小周、周六轮休值班）</li>
                            <li>较强的服务意识，优良的沟通素养，具备团队合作精神</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row" style="width: 100%">
        <div class="col-md-4">
            <div class="ft_item_tit">客服热线</div>
            <div class="ft_contact_tel clearfix">
                <span class="ico_tel"></span>
                <span class="txt">400-845-6866</span>
            </div>
        </div>
        <div class="col-md-4 contact text-left">
            <p><a href="mailto:sam@mmxueche.com">投资：sam@mmxueche.com</a></p>
        </div>
        <div class="col-md-4 contact text-left">
            <p><a href="mailto:hr@mmxueche.com">加入我们：hr@mmxueche.com</a></p>
        </div>
    </div>
    <div class="rows">
        <div class="clear"></div>
        <div class='col-xs-12' style='text-align:center;padding-top:20px;'>
            <a class='beian' target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备15043995号 (C)深圳萌萌车生活科技有限公司</a>
        </div>
    </div>
</footer>
<script src="/tekala/public/javascripts/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        var aboutUs = $('.ab-text'),
                joinUs = $('.job-box'),
                navLi = $('.ab-nav li'),
                footer = $('.footer');

        $(document).on('click','.ab-nav li',function () {
            var index = $(this).index();
            if(index == 0){
                aboutUs.show();
                joinUs.hide();
                //footer.css('position','fixed');
            }else{
                aboutUs.hide();
                joinUs.show();
                //footer.css('position','relative');
            }
            navLi.removeClass('active');
            $(this).addClass('active');
        });

        var details = $('.job-detail'),
                items = $('.job-item');

        $(document).on('click','.job-item .job-list-name',function () {
            var currentDetail = $(this).parent().siblings();
            if(currentDetail.css('display') == 'block'){
                currentDetail.hide();
                $(this).closest('.job-item').removeClass('active');
                //footer.css('position','fixed');
            }else{
                details.hide();
                currentDetail.show();
                items.removeClass('active');
                $(this).closest('.job-item').addClass('active');
                //footer.css('position','relative');
            }
        })
    })
</script>
</body>
</html>