<%=stylesheet_link_tag 'common', 'article' %>
<div class="at-container">
    <div class="at-title">
        <h1>科技爱你的方式</h1>
        <p>2016-05-18 10:00 发表</p>
    </div>
    <div class="at-content">
        <p>1948年之前的人们，从没想过，可以将刚刚过去的时光在眼前凝固。在你按下快门的一分钟内，给你一张冲洗完成的照片。这世界本来没有这样的快乐，直到人们拥有了宝丽来相机。</p>

        <p>大约十年前，笔记本电脑成了商务人士的随行设备。那时候人们单纯地认为，性能越强，用得越爽。因此厂商都在谈配置、重量，而在 ThinkPad 的键盘中间，悄悄长出了一个小红点，它代替了鼠标，让你的手不必离开键盘。用它的人说，这太爽了。可从前谁也没发现，原来手的专注是这么重要的事情。</p>

        <p>笔记本电脑大行其道之后，被电源线绊倒而摔坏机器的意外事件就时有发生。被绊倒的人不仅要承担后果，还会给人留下做事毛躁的印象。终于，MacBook 的磁性接头拯救了这一切，它可以轻轻地连接，再轻轻地断开。也许你真的毛手毛脚，但它帮你去除了隐患，好像在说，这本来就不是你的问题。</p>

        <p>在这个 USB 连接线无处不在的时代，你一定饱受折磨，它糟糕的插口设计让你总要花一点时间去分辨正反，而每一次弄错都带来一次小小的懊恼。于是 Smartisan 将 USB 插头的手持部分设计成一凹一凸的球形表面，当你拿起时，就已经身不由己地开始了正确的操作。你的担心变成了称心。</p>

        <p>从前，人们都有拉拽线绳打开风扇的经验。日子久了，这个下拉的动作和解暑的凉风之间就有了某种神奇的联系。无印良品的壁挂式 CD 机捕捉到了这样的关联，奇妙地创造出了不同感官之间的沟通。当拉动机身下方的抽线，唱盘转动，播放开始，音乐声像风一样扑面而来。</p>

        <p>人们都说科技没有温度，人们总是抱怨说科技产品造成了人与人的冷漠。可是，如你所见，那些美好的科技一直在关心你，尝试用各种方法让你开心，想要让你拥有更安适、更便利、更具品质感的生活。</p>

        <p>它们通过新的技术创造了你不曾想象过的乐趣，通过新的交互方式消除了你未曾言明的痛苦，通过巧妙的设计抹去了你深藏心底的忧虑，通过人性化的细节带来了难以描绘的舒适，通过美妙的形式激发了你长久的生活热情。</p>

        <p>像那些杰出的科技产品一样，我们的 Smartisan OS 也一直在悉心观察着使用者的感受，它用无数人性化的细节努力成为一个时刻为你着想、关怀备至的操作系统。</p>

        <p>就比如，在锁屏界面下，你会看到一个正在呼吸的状态栏，它起伏的速率恰如一个成年人的心跳；而当手机显示只有1%电量时，它的实际剩余电量是5%左右，在你感到慌乱的时候，我们想为你争取一点时间；在系统的很多地方，我们都加入了左右手模式，你习惯用哪只手操作，系统都为你提供最便利的按键布局，不必去迁就厂商默认的使用习惯……</p>

        <p>所有这些，无非是在对你说，机器也想和你更好地沟通，它也可以细心、体贴甚至浪漫，这是科技爱你的方式。</p>

        <p>————————————</p>

        <p>几天之后的5月20日是我们第一次发布手机产品的两周年，很多关心我们的朋友，有意无意地把它当作了与锤子科技有关的一个纪念日。而这一天，也恰恰是年轻人们表达爱的日子。作为一家科技厂商，我们想在这个日子，让科技与爱取得关联，于是我们精心准备了一些于功能、于细节对人有所关爱的科技产品，放置在我们的官网商城，在5月20日当天它们会以一个让你开心的价格集体上架，欢迎大家届时前往。</p>

        <p>用手机扫描下方二维码，打开《科技爱你的方式》</p>
    </div>
</div>