<%=stylesheet_link_tag 'common', 'information' %>
<div class="im-box">
    <div class="im-container">
        <h1 class="im-title">行业资讯</h1>
        <ul class="im-list">
            <li>
                <div class="article-title">
                    <a href="">科技</a>
                    <p>发表于:2016-6-22 </p>
                </div>
                <p>
                    几天之后的5月20日是我们第一次发布手机产品的两周年，很多关心我们的朋友，有意无意地把它当作了与锤子科技有关的一个纪念日。而这一天，也恰恰是年轻人们表达爱的日子。作为一家科技厂商，我们想在这个日子，让科技与爱取得关联，于是我们精心准备了一些于功能、于细节对人有所关爱的科技产品，放置在我们的官网商城，在5月20日当天它们会以一个让你开心的价格集体上架，欢迎大家届时前往。
                    <a href="/tekala/app/views/layouts/article.html">查看全文</a>
                </p>
            </li>
            <li>
                <div class="article-title">
                    <a href="">科技</a>
                    <p>发表于:2016-6-22 </p>
                </div>
                <p>
                    几天之后的5月20日是我们第一次发布手机产品的两周年，很多关心我们的朋友，有意无意地把它当作了与锤子科技有关的一个纪念日。而这一天，也恰恰是年轻人们表达爱的日子。作为一家科技厂商，我们想在这个日子，让科技与爱取得关联，于是我们精心准备了一些于功能、于细节对人有所关爱的科技产品，放置在我们的官网商城，在5月20日当天它们会以一个让你开心的价格集体上架，欢迎大家届时前往。
                    <a href="/tekala/app/views/layouts/article.html">查看全文</a>
                </p>
            </li>
            <li>
                <div class="article-title">
                    <a href="">科技</a>
                    <p>发表于:2016-6-22 </p>
                </div>
                <p>
                    几天之后的5月20日是我们第一次发布手机产品的两周年，很多关心我们的朋友，有意无意地把它当作了与锤子科技有关的一个纪念日。而这一天，也恰恰是年轻人们表达爱的日子。作为一家科技厂商，我们想在这个日子，让科技与爱取得关联，于是我们精心准备了一些于功能、于细节对人有所关爱的科技产品，放置在我们的官网商城，在5月20日当天它们会以一个让你开心的价格集体上架，欢迎大家届时前往。
                    <a href="/tekala/app/views/layouts/article.html">查看全文</a>
                </p>
            </li>
            <li>
                <div class="article-title">
                    <a href="">科技</a>
                    <p>发表于:2016-6-22 </p>
                </div>
                <p>
                    几天之后的5月20日是我们第一次发布手机产品的两周年，很多关心我们的朋友，有意无意地把它当作了与锤子科技有关的一个纪念日。而这一天，也恰恰是年轻人们表达爱的日子。作为一家科技厂商，我们想在这个日子，让科技与爱取得关联，于是我们精心准备了一些于功能、于细节对人有所关爱的科技产品，放置在我们的官网商城，在5月20日当天它们会以一个让你开心的价格集体上架，欢迎大家届时前往。
                    <a href="/tekala/app/views/layouts/article.html">查看全文</a>
                </p>
            </li>
        </ul>
    </div>
</div>

