<%=stylesheet_link_tag 'common', 'price' %>
<ul class="flow-nav">
  <li style="border-bottom: 2px solid #474747;"><a href="">特快拉平台</a></li>
  <li><a href="">版本功能对比</a></li>
</ul>

<div class="card-box">
  <ul class="card-box-list">
    <li class="free">
      <div class="card-top">
        <h3>基础版</h3>
        <h4>适合个人开发者或自媒体</h4>
        <p><strong>免费</strong></p>
      </div>
      <div class="card-bottom">
        <p>最多2坐席</p>
        <p>会话数据存储30天</p>
        <a class="" data-action="try" data-log="ms-register-zcrk" data-log-label="5">现在开通</a>
      </div>
    </li>

    <li class="standard">
      <div class="card-top">
        <h3>高级版</h3>
        <h4>适合个人开发者或自媒体</h4>
        <p><strong>免费</strong></p>
      </div>
      <div class="card-bottom">
        <p>最多2坐席</p>
        <p>会话数据存储30天</p>
        <a class="" data-action="try" data-log="ms-register-zcrk" data-log-label="5">现在开通</a>
      </div>
    </li>

    <li class="flagship">
      <div class="card-top">
        <h3>定制版</h3>
        <h4>适合个人开发者或自媒体</h4>
        <p><strong>免费</strong></p>
      </div>
      <div class="card-bottom">
        <p>最多2坐席</p>
        <p>会话数据存储30天</p>
        <a class="" data-action="try" data-log="ms-register-zcrk" data-log-label="5">现在开通</a>
      </div>
    </li>
  </ul>
  <div class="card-btn">
    <a href="">免费试用</a>
  </div>
  <p class="card-txt">标准版免费试用7天</p>
</div>

<div class="table-box">
    <h1>特快拉SaaS各版本收费标准</h1>
     <table class="sass-table">
        <thead>
          <tr>
            <td colspan="2">功能</td>
            <td>基础版</td>
            <td>高级版</td>
            <td>定制版</td>
          </tr>
        </thead>
       <tbody>
          <tr>
            <td rowspan="3" style="width: 110px;">基础配置</td>
            <td style="width: 450px;">微信公众号接入</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>微信菜单管理</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>多渠道报名(微信,苹果,安卓)</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
           <tr>
             <td rowspan="2">班别管理</td>
             <td>班别介绍,价格设置</td>
             <td>支持</td>
             <td>支持</td>
             <td>支持</td>
           </tr>
          <tr>
            <td>促销折扣</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>学员社区</td>
            <td>发布动态,分享,点赞,评论</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="3">客服系统</td>
            <td>学员和售前1对1咨询服务</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>学员与教练1对1沟通</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>工单服务</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="6">学员管理</td>
            <td>学籍录入</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>数据导入\导出</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>列表,筛选,修改,更新</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>考试信息管理</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>课程安排</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>通知短信录入</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="3">教练管理</td>
            <td>教练信息录入</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>数据导入\导出</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>教练排班安排</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="3">预约练车</td>
            <td>App预约,按时计费</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>1对1,1对多自由配置</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>打包价,按小时自由设置</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="2">车辆管理</td>
            <td>车辆信息添加,查询</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>报表统计</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="2">门店管理</td>
            <td>门店信息添加,查询,监控</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>每日销售报表</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="3">财务管理</td>
            <td>营业收入每日报表</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>教练工资表</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>每日,每周,每月支出报表</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>多账号管理</td>
            <td>管理员,售前客服,财务,教练,学员,代理六重账号管理</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="3">推送服务</td>
            <td>每日管理日报推送</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>学员教练练车推送</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>学员评价推送</td>
            <td>支持</td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>积分商城</td>
            <td>分享活动赢积分,换奖品</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="4">营销服务</td>
            <td>百度关键词投放</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>微信公众号广告投放</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>新浪微博广告投放</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>地推广告投放</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>代理分销</td>
            <td>代理</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="2">技术服务</td>
            <td>工作日时间技术服务</td>
            <td></td>
            <td>支持</td>
            <td>支持</td>
          </tr>
          <tr>
            <td>7*24小时</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="4">定制服务</td>
            <td>定制版logo,启动画面</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>单独App介绍页面</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>应用商店下载</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>优先功能更新</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td rowspan="5">安全保护</td>
            <td>操作日志记录</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>独立加密算法</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>数据多重备份</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>专线网络</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>数据隔离</td>
            <td></td>
            <td></td>
            <td>支持</td>
          </tr>
          <tr>
            <td>价格</td>
            <td></td>
            <td>9800元/年</td>
            <td>26800元/年</td>
            <td>56800元/年</td>
          </tr>
       </tbody>
     </table>
</div>