<%=stylesheet_link_tag 'common', 'question' %>
<div class="qt-container">
    <ul class="qt-nav">
        <li class="active">学员</li>
        <li>教练</li>
        <li>驾校</li>
    </ul>
    <!--学员列表-->
    <ul class="qt-list student">
        <li>
            <p class="qt-title">我能不能预约多个教练？</p>
            <p class="qt-answer">指定教练的学员不可以随意更换教练。</p>
        </li>
        <li>
            <p class="qt-title">教练教学是一对一还是一对多？</p>
            <p class="qt-answer">为了保证学车质量，萌萌学车都是1对1教学。</p>
        </li>
        <li>
            <p class="qt-title">预约教练需要支付手续费用么？</p>
            <p class="qt-answer">我们是零收取，您购买教练的价格是教练真实的预约价格。</p>
        </li>
        <li>
            <p class="qt-title">预约教练最长可预约多长时间？</p>
            <p class="qt-answer">我们是碎片时间，弹性预约，只要当前时间是教练的预约时间，即可随时预约。1小时起约。</p>
        </li>
        <li>
            <p class="qt-title">通过驾校学车与通过萌萌学车有什么区别？</p>
            <p class="qt-answer">萌萌学车更便宜、学车质量更有保障、学车时间更自由。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车能学什么牌照？</p>
            <p class="qt-answer">C1手动档和C2自动档。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车的训练场在哪里？</p>
            <p class="qt-answer">萌萌学车在深圳共三十多个训练场，集中在南山、福田、罗湖、宝安、龙华区。</p>
        </li>
        <li>
            <p class="qt-title">在深圳考驾照一般需要多久？</p>
            <p class="qt-answer">一年左右，主要依据车管所约考时间。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车是一家驾校么？</p>
            <p class="qt-answer">不是，萌萌学车是一个O2O平台 ，直接连接学员和教练。</p>
        </li>
        <li>
            <p class="qt-title">如何预约教练？</p>
            <p class="qt-answer">通过萌萌学车App及微信公众号（导航栏【我的】）预约。</p>
        </li>
        <li>
            <p class="qt-title">预约了教练后爽约怎么办？</p>
            <p class="qt-answer">教练爽约，请与萌萌工作人员联系，我们将对其做相应处罚。</p>
        </li>
        <li>
            <p class="qt-title">5680元包括哪些费用？</p>
            <p class="qt-answer">包含以下费用 报名费、练车费（1 人 1 车 1 教练，App 随时随地预约学车）、中国人寿 10 万学车意外险 考试费480元（科目一 70 元、科目二 130 元、科目三 280 元、制证费10元） 萌萌学车服务费 不包含以下费用 补考费（为科目考试费的一半）、选择社会考场考试入场费、考场模拟费、体检费（25 元）、 拍照费（25 元）。</p>
        </li>
        <li>
            <p class="qt-title">非深户在深学车需要居住证么？居住证办理条件有哪些？</p>
            <p class="qt-answer">居住登记满6个月即可在深报名学车。 非深户在深学车已拥有居住证，并确保居住证在有效期内，并提供居住证复印件。 居住证办理需要： 1.在深证社保满一年或2年累计满18个月； 2.在深证居住登记满12个月。</p>
        </li>
        <li>
            <p class="qt-title">加入萌萌学车后，接下来需要做哪些事情？</p>
            <p class="qt-answer">第1步，找一家照相馆拍照（任何一家，说是考驾照就秒懂）或自助拍照机（各大地铁站）。 第2步，找一家医院体检（很简单的体检，不需要空腹，10分钟搞定），上班族建议周六去。 医院列表：http://dwz.cn/mmxctj 第3步，由萌萌为学员报名并安排录指纹及理论课培训。 第4步，指定教练为学员进行科目二培训。 第5步，由萌萌安排长训。 第6步，科目三路考及科目三安全文明考试。 最后递交档案袋给车管所，等待驾驶证邮寄到家。</p>
        </li>
        <li>
            <p class="qt-title">车管所网站报名完成散学自考后，无法在规定时间去车管所录指纹怎么办？</p>
            <p class="qt-answer">已经网上报名后，必须在规定时间去车管所录指纹，否则只能 3 个月后再次报名。请先确定可以准时录指纹，再上车管所网上报名。录指纹时间为，网上报名后次月的前 5 个工作日。</p>
        </li>
        <li>
            <p class="qt-title">如果考试挂了怎么办？还能练车么？</p>
            <p class="qt-answer">每个科目当场均有两次考试机会，第一次考试未通过则当场可重考一次，若两次考试均未通过，则需要交补考费（科目一 120 元、科目二 150 元、科目三 240 元） 10 天后预约下一次考试； 科目二与科目三挂科后，可继续预约教练练车。</p>
        </li>
        <li>
            <p class="qt-title">2 个月拿证可以保证吗？</p>
            <p class="qt-answer">拿证时间影响因素较多，包括学员的学车进度、是否挂科及约考时间等。在练车时间充分并不挂科的情况下，最快2 个月可以拿证。</p>
        </li>
        <li>
            <p class="qt-title">1 V 1 精品班是所有学车环节都是 1 V 1 的么？</p>
            <p class="qt-answer">科目二练习是 1 人 1 车 1 教练；由于武汉要求科目三必须在三环外练习，接送距离较远，因此科目三为 4 V 1。</p>
        </li>
        <li>
            <p class="qt-title">考场练车是什么意思？为什么需要单独收费？</p>
            <p class="qt-answer">学员在考试前熟悉考场，增加考试通过率，科目二科目三收费均为 500／时，按人数分摊。考场练车为可选择项目，学员以自身情况决定。</p>
        </li>
        <li>
            <p class="qt-title">报名时为什么需要寄送身份证原件？复印件可以么？</p>
            <p class="qt-answer">车管所规定，入网时需要验证身份证原件，2 - 3 日可验证完毕。在此期间，萌萌学车保证学员身份证不作他用。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车是驾校吗？你们专业吗？</p>
            <p class="qt-answer">萌萌学车是国家互联网＋驾考改革探索和实践产物，是对现有驾校的补充。萌萌学车起源于深圳，是腾讯系明星创业项目，致力于提升学员驾考体验。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车的教练专业吗？</p>
            <p class="qt-answer">萌萌学车的教练均是持有教练证并有多年教学经验的金牌教练，练车也均为黄牌教练车，保证学员练车安全。</p>
        </li>
        <li>
            <p class="qt-title">可以考什么类型的驾照？</p>
            <p class="qt-answer">目前只能考 C1 手动档驾照，其他类型驾照会陆续开放申请。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车报名需要什么条件？</p>
            <p class="qt-answer">根据车管所规定，考驾照必须年满 18 周岁，且外地户口需要武汉居住证；武汉居住证可凭身份证办理或委托萌萌学车代办理。</p>
        </li>
        <li>
            <p class="qt-title">对教练不满意怎样解决？</p>
            <p class="qt-answer">教练都是通过萌萌学车筛选的，服务态度和教学质量都有保障，假设万一真的遇到这种情况，请第一时间联系小萌，小萌一定会全力解决。</p>
        </li>
        <li>
            <p class="qt-title">为什么只有 C1手动挡只有 25 个学时、C2 自动挡只有 20 个学时，考试不通过怎么办？</p>
            <p class="qt-answer">萌萌学车根据现有学员的学习情况统计后得出，手动档只需要 25 小时就可以完全掌握考驾照所需的驾驶技能。4800精品包过班的学员，如果考试没通过，可向小萌申请科目二、科目三继续练车 4 小时。 自动挡比手动挡学起来更容易，只需要 20 小时就可以完全掌握。而且，自动挡考试通过率近 85%。4800精品包过班的学员，如果考试没通过，可向小萌申请科目二、科目三继续练车 4 小时。</p>
        </li>
        <li>
            <p class="qt-title">体检流程详解？</p>
            <p class="qt-answer">1.	在提交资料报名成功之后，小萌将会统一安排体检时间与体检点 2.	接到体检通知后，准时到指定地点集合，出发进行体检 3.	体检后，将体检单交付萌萌学车领队专员；体检通过则等待科目一考试通知；体检未通过则等待退款。</p>
        </li>
        <li>
            <p class="qt-title">科目一考试流程详解？</p>
            <p class="qt-answer">1.	体检通过后，根据小萌的提示学习科目一考试内容，等待考试通知。科目一考试100道选择题，1题1分，90分及以上为考试通过。 2.	科目一考试由萌萌学车统一预约，考试时间将电话、短信通知。考试通过则等待科目二练车通知；考试不通过则根据交管部门规定缴纳相应补考费用。</p>
        </li>
        <li>
            <p class="qt-title">科目二考试流程详解？</p>
            <p class="qt-answer">1. 萌萌学车签约教练根据学员学习进度与时间安排，帮助预约科目二考试，科目二的考试内容包括倒库，侧方位，S弯，直角转弯和半坡起步。 2. 根据小萌提示通过萌萌学车App选择预约就近训练场的教练进行科目二考试内容练习。 3. 根据电话、短信通知到准时到指定地点集中前往考场考试。考试通过则等待科目三练车通知；考试不通过则根据交管部门规定缴纳相应补考费用。</p>
        </li>
        <li>
            <p class="qt-title">科目三考试流程详解？</p>
            <p class="qt-answer">1. 萌萌学车签约教练根据学员学习进度和时间安排，帮助预约科目三考试，由于科目三必须在三环以外练习，将根据学员时间统一安排4人一车进行训练。科目三一般包括：基本行驶、车灯操作、换挡、转弯等行驶操作。 2. 等待考试通知，按照指定时间地点集合，前往考场。考试通过则可预约科目四，考试不通过则根据交管部门规定缴纳相应补考费用。</p>
        </li>
        <li>
            <p class="qt-title">科目四考试流程详解？</p>
            <p class="qt-answer">1. 科目三通过后成绩单上会显示考试时间，4点前考完，当天需参加科目四考试，4点后则为第二天考试，周末顺延。科目四为安全文明驾驶理论考试，50道选择题，满分100，90分则可通过考试，科目四考试通过则现场领证；不通过则由学员重新约考，不需要补考费。科目四考试需带齐资料。</p>
        </li>
        <li>
            <p class="qt-title">如何办理退款？会退还全部报名费吗？</p>
            <p class="qt-answer">首先，您需要将您当时和萌萌签订的合同/协议和收据邮寄回给我们。然后，萌萌将会在收到您的完整资料后的1-3个工作日为您办理退款。最后您只用等待您的报名费原路返还到您的账户上啦~（当然提示一下信用卡支付的退款银行处理的时间会在7-15个工作日，请耐心等待） 1.萌萌所有班别内都含有平台服务费200元，一旦报名成功将视为费用已产生，将不予以退回。 2.小时班学员办理退款如订单还未进行将全额退款，如超过时间未学时视为已学习。 3.包过班学员练车，C1超过25学时，C2超过20学时，都为已学习完本次报名课程，将无可退还金额。 4.深圳本地班及特快班学员，需扣除报名费和手续费共计1200元。若乙方已经练车，除已扣除的报名费和手续费外，按如下学习阶段另外扣除相应费用： 在学习科目二阶段，若已实际完成练车学时10小时以上或已参加过科目二考试的，扣除2000元；若已实际完成练车学时小于10小时的，扣除费用等于119元/时×已练车小时数。 在长途考试阶段，长训费C1手动挡800元、C2自动挡1000元。 在学习科目三阶段，若已实际完成练车学时5小时以上或已参加过科目三考试的，扣除1000元；若已实际完成练车学时小于5小时的，按119元/时×已练车小时数。</p>
        </li>
        <li>
            <p class="qt-title">萌萌提供VIP服务，价格这么低，萌萌学车靠谱吗？</p>
            <p class="qt-answer">A：萌萌学车旨在用互联网模式来提升驾考行业的效率和服务质量，降低成本，让学员学车费用更低，让教练收入更高。 2015年8月，萌萌学车成为腾讯系2015年创业风云榜入选企业，目前已经服务学员3000+名。</p>
        </li>
        <li>
            <p class="qt-title">1对1 VIP包过班是所有学车环节都是1v1吗？</p>
            <p class="qt-answer">A:萌萌学车始终以学员的最佳体验为核心目标，科目二练习我们保证提供给学员1人1车1教练的VIP服务，由于重庆个别区域科目三必须得到指定区域练习，接送距离较远，若保证接送服务，有可能出现有1对多的情况。</p>
        </li>
        <li>
            <p class="qt-title">最快80天拿证可以保证吗？</p>
            <p class="qt-answer">A：拿证时间影响因素较多，包括学员的学车进度、是否挂科及约考时间等。在练车时间充分并不挂科的情况下，最快80天拿证。</p>
        </li>
        <li>
            <p class="qt-title">萌萌学车是驾校吗？</p>
            <p class="qt-answer">A：萌萌学车是国家互联网+驾考改革探索和实践的产物，是对现有驾校的补充，致力于给学员更低的价格，更近的训练场，更nice的教练，更快的拿证速度，更优质的服务体验的VIP学车平台。</p>
        </li>
        <li>
            <p class="qt-title">如果考试挂了怎么办？</p>
            <p class="qt-answer">A：没科目考试均有两次考试机会，考试为通过当场可重考一次，若两次考试均未通过，则需要交补考费（科目一25元，科目二160元，科目三180元）10天后预约下一次考试； 萌萌学车1对1 VIP包过班给提供学员科目二科目三包学包过服务，所以挂科后可继续预约教练练车。</p>
        </li>
        <li>
            <p class="qt-title">合场费是什么意思？</p>
            <p class="qt-answer">学员在考试前熟悉考场，增加考试通过率，科目二科目三收费均为320/小时，按数人均摊。合场练车为可选择项目，学员根据自己情况自愿选择合场与否。</p>
        </li>
        <li>
            <p class="qt-title">预约教练最长可预约多长时间？</p>
            <p class="qt-answer">A：我们是碎片时间，弹性预约，只要当前时间是教练的预约时间，即可随时预约。1小时起约，建议每天学时不超过2小时。</p>
        </li>
        <li>
            <p class="qt-title">3280元包括哪些费用？</p>
            <p class="qt-answer">A：包含以下费用 报名费、练车费（1 人 1 车 1 教练，App 随时随地预约学车）、 考试费390元（科目一 50元、科目二 160 元、科目三 180元） 萌萌学车服务费 不包含以下费用 补考费（科目一25元，科目二160元，科目三180元）、合场费、体检费、 拍照费。</p>
        </li>
        <li>
            <p class="qt-title">加入萌萌学车后，接下来需要做哪些事情？</p>
            <p class="qt-answer">A：第1步，找一家照相馆拍照（任何一家，说是考驾照就秒懂），1寸免冠照12张 第2步，找一家医院体检（很简单的体检，不需要空腹，10分钟搞定），上班族建议周六去。 医院列表：http://www.cq.gov.cn/publicinfo/web/views/Show!detail.action?sid=3746964。</p>
        </li>
        <li>
            <p class="qt-title">怎么报名缴费？什么时候签订协议？</p>
            <p class="qt-answer">因为缴费是通过网上进行，您可以在通过微信或者app选择适合您的班别进行报名缴费，缴费成功后我们会指派一个专人工作人员，负责跟进您的学车进度，并通过邮寄的方式将合同邮寄给您。您也可以直接到公司缴费签订学员协议。地址：沙坪坝区大学城五星名座2栋11-10。</p>
        </li>
        <li>
            <p class="qt-title">我考的是手动挡还是自动挡？是否是C1的驾照呢？</p>
            <p class="qt-answer">目前我们所有班别都是驾考的手动挡，自动挡的班别会陆续开放。</p>
        </li>
        <li>
            <p class="qt-title">报名后还会收取其他费用吗？</p>
            <p class="qt-answer">萌萌学车实行一费制，后期不再进行收费，杜绝传统驾校的吃拿卡要现象。</p>
        </li>
    </ul>
    <!--教练列表-->
    <ul class="qt-list coach">
        <li>
            <p class="qt-title">申请成为萌萌学车的教练需要什么条件？</p>
            <p class="qt-answer">1、有驾驶证，至少3年的驾驶经验 2、有教练证，至少1年的驾驶培训经验 3、有带牌照的深圳正规教练车 4、年龄20-50岁 5、能够在深圳市内的训练场教学。</p>
        </li>
        <li>
            <p class="qt-title">教练规范说明？</p>
            <p class="qt-answer">1.	必须提供有资质的训练场，保证教学车辆状况完好，随车教学，确保训练过程的安全与规范 2.	必须保证1对1教学，除非学员主动申请，教练不得安排其他人与学员共同学车 3.	必须保证所预约学车时间的连续和完整，不得擅自提前结束或中断练习 4.	根据学员特点因人施教，严禁讽刺、挖苦、谩骂学员，严禁向学员索取钱、物或变相吃拿卡要 5.	不得在车内吸烟，长时间接听电话 6.	禁止将萌萌商业模式及学员信息透露给他人 7.	C1建议25 学时，科目二 17 学时，科目三 8 学时；C2 建议20 学时，科目二 16学时，科目三 4 学时。教练应根据学员进度进行针对性指导，以提高通过率为目标 8.	同一学员接单不得超过建议学时20%，否则萌萌将进行考察处理。</p>
        </li>
        <li>
            <p class="qt-title">接单规则？</p>
            <p class="qt-answer">1.	接单前需确认预约时间的连续和完整，并联系学员确认订单时间及训练场地状况 2.	如无法接单，请联系学员取消订单 3.	若实在无法履约已接受订单，请至少提前半天电话学员或者联系小萌，由学员申请取消订单，不得未经学员及萌萌同意擅自将订单转接给其他教练，否则该订单不予结算 4.	如学员不按订单约定赴约，请第一时间联系小萌。</p>
        </li>
        <li>
            <p class="qt-title">如何计算分数？</p>
            <p class="qt-answer">1.	总分为5分，由学员训练后进行评分，取所有评分的平均分 2.	分数越高，在学员端的排名越高，学员预约的几率越高。</p>
        </li>
        <li>
            <p class="qt-title">如何结算工资？</p>
            <p class="qt-answer">1.	收入总额满3万及3万以下，C1每小时119元，C2每小时129元，收入总额超过3万的，工资按90%结算 2.	学车款的结付周期分为每周结算和每日结算，5小时内为日结，5小时以上改为周结 3.	必须经过萌萌学员端预约并经过教练端确认处理的订单，双方按约完成教学培训，才予结算 4.	教练和学员按订单约定进行训练后，学员在学员端点击确定及评价后，萌萌学车将学车款按照周结或者日结方式转至教练提供的账户下 5.	如存在工资结算出现差错，请联系小萌进行核对。</p>
        </li>
        <li>
            <p class="qt-title">如何取消订单？</p>
            <p class="qt-answer">如接单后实在无法履约，请提前联系学员说明情况，由学员取消订单，否则需承担学员及萌萌的损失。</p>
        </li>
        <li>
            <p class="qt-title">如何结算工资？</p>
            <p class="qt-answer">1.学车款的结算为日结，通过预约系统的订单才有效；2.教练和学员按订单约定进行训练、学员评价后，萌萌学车将学车款转至教练在萌萌后台设定的账户，每周一可以提现3.如存在工资结算差错，请联系小萌进行核对。</p>
        </li>
        <li>
            <p class="qt-title">教练的等级评定？</p>
            <p class="qt-answer">我们会根据您的综合素质（包括: 驾龄，教龄，学员好评度）来评定等级，等级会影响您的学员量和定价。</p>
        </li>
        <li>
            <p class="qt-title">教练申请成为萌萌学车教练所需条件？</p>
            <p class="qt-answer">1、有驾驶证，至少3年的驾驶经验 2、有教练证，至少1年的驾驶培训经验 3、有带牌照的武汉正规教练车 4、年龄20-50岁 5、能够在武汉市内的训练场教学。</p>
        </li>
        <li>
            <p class="qt-title">申请需要准备什么材料？</p>
            <p class="qt-answer">身份证，驾驶证，教练证和银行卡。</p>
        </li>
        <li>
            <p class="qt-title">教练规范说明？</p>
            <p class="qt-answer">1.教学过程中必须确保安全，不能擅离职守让学员独自练车 2.萌萌学车在核实学员投诉的情况后，将做出相应的处理 3.一旦发现存在拖延学时的刷单行为，将直接关闭教练接单通道，且不再启用。</p>
        </li>
        <li>
            <p class="qt-title">接单规则？</p>
            <p class="qt-answer">1.接单前请确保有空闲时间，如无法接单，请联系学员取消订单 2.若实在无法履约已接受订单，应提前电话学员向学员说明情况，由学员申请取消订单，否则需承担学员及萌萌的损失 3.C1建议20学时，科目二14学时，科目三6学时；C2建议16学时，科目二12学时，科目三4学时。教练应根据学员进度进行针对性指导，以提高通过率为目标。</p>
        </li>
        <li>
            <p class="qt-title">如何计算分数？</p>
            <p class="qt-answer">1.总分为5分，由学员训练后进行评分，取所有评分的平均分 2.	分数越高，在学员端的排名越高，学员预约的几率越高。</p>
        </li>
        <li>
            <p class="qt-title">如何取消订单？</p>
            <p class="qt-answer">如接单后实在无法履约，请提前联系学员说明情况，由学员取消订单，否则需承担学员及萌萌的损失。</p>
        </li>
        <li>
            <p class="qt-title">为什么会被处罚？</p>
            <p class="qt-answer">1.	由于场地原因造成的星级评价低于4分，将扣除工资20% 2.	由于抽烟、讲电话等行为影响了学员学车时间及体验，核实情况后，将给予扣除工资的20%~50%。 3.	未能保证学员一对一练车，造成学员学习质量下降将给予扣除30%~80%工资 4.	非教练本人教学，直接影响到学员正常学习的情况，视情节轻重将给予扣除工资的10%~50%。 5.	教学时，严重迟到或未完成预约的学时课程，将给予警告及扣去一半工资。 6.	教学时，出现谩骂学生以及索要红包、礼品等，严重影响萌萌学车声誉的行为将直接取消其在萌萌学车接单资格。 7.	发现刷单行为，一经核实将直接取消其在萌萌学车接单资格。 8.	发现将萌萌商业模式及学员信息透露给其他公司的行为，不仅取消双方合作关系，还将追究其法律责任。 9.	连续3次或累积5次以上4星评价以下将给予停课处理。需向萌萌再次申请合作，必须遵守萌萌的教练授课基本规则，并签订协议方可开通。违规情节严重的将直接给予停课处理，不再合作。</p>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function () {
        var stuList = $('.student'),
                coachList = $('.coach'),
                navLi = $('.qt-nav li');
        $(document).on('click','.qt-nav li',function () {
            var index = $(this).index();
            if(index == 0){
                stuList.show();
                coachList.hide();
            }else{
                stuList.hide();
                coachList.show();
            };
            navLi.removeClass('active');
            $(this).addClass('active');
        })
    });
</script>