<%=stylesheet_link_tag 'common', 'question' %>
<div class="qt-container">
    <!--<ul class="qt-nav">-->
        <!--<li class="active">学员</li>-->
        <!--<li>教练</li>-->
        <!--<li>驾校</li>-->
    <!--</ul>-->
    <!--学员列表-->
      <% if @questions.present? %>
      <ul class="qt-list student" >
          <% @questions.each do |question| %>
            <li>
                <p class="qt-title"><%= question.title %></p>
                <p class="qt-answer"><%= question.content %></p>
            </li>
          <% end%>
      </ul>
      <% end %>
</div>
<script>
//    $(document).ready(function () {
//        var stuList = $('.student'),
//            coachList = $('.coach'),
//            schoolList = $('.school'),
//            navLi = $('.qt-nav li');
//        $(document).on('click','.qt-nav li',function () {
//            var index = $(this).index();
//            if(index == 0){
//                stuList.show();
//                coachList.hide();
//                schoolList.hide();
//            }else if(index == 1){
//                stuList.hide();
//                coachList.show();
//                schoolList.hide();
//            }else{
//                stuList.hide();
//                coachList.hide();
//                schoolList.show();
//            }
//            navLi.removeClass('active');
//            $(this).addClass('active');
//        })
//    });
</script>