<div id='home' class="section container first">
  <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item banner-img2 active">
        <%=image_tag 'banner-text-1.png', :class => 'banner-text' %>
      </div>
      <div class="item banner-img1">
        <%=image_tag 'banner-text-2.png', :class => 'banner-text' %>
      </div>
    </div>
  </div>
</div>
<div id='auto' class="section container forth">
  <%=image_tag 'auto-teach.png', :class => 'photo forth_photo' %>
</div>
<div id='partner' class="section container container_2 sixth">
  <%=image_tag 'partner.png', :class => 'photo' %>
</div>
<!--<div id='invite' class="section container container_2 fifth">-->
<!--<div class="container">-->
<!--</div>-->
<!--</div>-->